.c-infographic__text--orange {
  fill: #fd970f;
}

.st1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.st2 {
  font-size: 56.9624px;
}

.st3 {
  fill: #ed2e2e;
}

.st4 {
  font-size: 21.1913px;
}

.st5 {
  fill: #fff;
}

.st6 {
  letter-spacing: 1;
}

.st7 {
  font-size: 52.052px;
}

.st8 {
  fill: #ec1c24;
}

.st9 {
  font-size: 20.1492px;
}

.st10 {
  fill: #231f20;
}

.st11 {
  font-size: 19.0521px;
}

.st12 {
  fill: #fed59f;
}

.st13 {
  fill: #323232;
}

.st14 {
  fill: #9d9c9b;
}

.st15 {
  fill: #5b5a58;
}

.st16 {
  fill: #b22323;
}

.st17 {
  fill: #be710b;
}
